doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title
		meta(name="description" content="")
		link(href="/ii/css/project_name/style.css" rel="stylesheet")
		link(href="/ii/css/project_name/slider_style.css" rel="stylesheet")

		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);  })(window,document,'script', 'dataLayer','GTM-M569KV');
		script(src="https://vk.com/js/api/openapi.js?144")
	body
		noscript
			iframe(src="//www.googletagmanager.com/ns.html?id=GTM-M569KV" height="0" width="0" style="display:none;visibility:hidden")
		script(type="text/javascript").
			(function (d, w, c) {(w[c] = w[c] || []).push(function() {try {w.yaCounter6936841 = new Ya.Metrika({id:6936841,clickmap:true,trackLinks:true,accurateTrackBounce:true,webvisor:true,ecommerce:"dataLayer"});} catch(e) { }});var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),f = function () { n.parentNode.insertBefore(s, n); };s.type = "text/javascript";s.async = true;s.src = "https://mc.yandex.ru/metrika/watch.js";if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else { f(); }})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/6936841" style="position:absolute; left:-9999px;" alt="")
		script.
			VK.Retargeting.Init('VK-RTRG-645-i8bUm');
			VK.Retargeting.Hit();

		.container
			.wait_slider
				.sliders__back
					.sliders__container_full
						a.slider__title(href="/catalog/novelty/") Новинки литературы
						.slider(data-carousel="true" data-name="/catalog/novelty/" data-slider="")
							.slider__left
								svg#Layer_1(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24" height="24" viewbox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve")
									path(d="M15.41,16.59L10.83,12l4.58-4.59L14,6l-6,6l6,6L15.41,16.59z")
									path(fill="none" d="M0,0h24v24H0V0z")
							.slider__right
								svg#Layer_1(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" x="0px" y="0px" viewbox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve")
									path(d="M8.59,16.59L13.17,12L8.59,7.41L10,6l6,6l-6,6L8.59,16.59z")
									path(fill="none" d="M0,0h24v24H0V0z")
							.slider__viewport
								.slider__container.container_cards
									// product-card
									.product-card.js_product(data-product="1093667" data-book-id="2700004" data-productlist="main_Новинки литературы" data-productprice="564" data-productbrand="" data-productcategory="" data-index="1" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1093667/?watch_fromlist=main_Новинки литературы")
											img(alt="О чем не сказала Тафти" title="О чем не сказала Тафти" data-original="https://img-gorod.ru/web/270/2700004/jpg/2700004_preview.jpg" src="https://img-gorod.ru/web/270/2700004/jpg/2700004_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1093667/?watch_fromlist=main_Новинки литературы" title="О чем не сказала Тафти")
												.product-card__title.js-analytic-product-title
													| О чем не сказала Тафти
												.product-card__author
													| Зеланд В.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Весь СПб
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Эта книга посвящена ответам на многочисленные вопросы по книге «Тафти жрица», которая уже стала культовой. Культовой, потому что техники Тафти работают настолько мощно, что буквально ошеломляют читателей. Здесь же даются тому подтверждения — реальные отзывы о...
												span.full-view
													| Эта книга посвящена ответам на многочисленные вопросы по книге «Тафти жрица», которая уже стала культовой. Культовой, потому что техники Тафти работают настолько мощно, что буквально ошеломляют читателей. Здесь же даются тому подтверждения — реальные отзывы о Тафти. Например, такой…
													br
													br
													br
													| Мария Евланова
													br
													| :
													br
													| «Это просто сумасшествие какое-то ! Я настолько сильного эффекта не ожидала! Во-первых, книга написана настолько понятно — алгоритмами. Не нужно делать конспекты. Во-вторых, действует намного сильнее. Трансерфинг начал менять жизнь через 4 года, задавание же реальности действует каждый раз в течение дня, и все сильнее. У меня просто уже крышу сносит».
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 564 ₽
												button.button.product-card__button.button_product(data-element="1093667" data-status="buy" onclick="events.basket.add(this, [{book_id:'2700004', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1094996" data-book-id="2701199" data-productlist="main_Новинки литературы" data-productprice="397" data-productbrand="" data-productcategory="" data-index="2" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1094996/?watch_fromlist=main_Новинки литературы")
											img(alt="Летний дракон. Первая книга Вечнолива" title="Летний дракон. Первая книга Вечнолива" data-original="https://img-gorod.ru/web/270/2701199/jpg/2701199_preview.jpg" src="https://img-gorod.ru/web/270/2701199/jpg/2701199_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1094996/?watch_fromlist=main_Новинки литературы" title="Летний дракон. Первая книга Вечнолива")
												.product-card__title.js-analytic-product-title
													| Летний дракон. Первая книга Вечнолива
												.product-card__author
													| Локвуд Т.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Эксмо
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| ?Юная Майя и ее брат Дариан живут бок о бок с драконами. Их мать трагически погибла, а отца, кажется, не интересует ничего, кроме этих сверхъестественных существ. Все меняется, когда Майя и Дариан видят легендарного Летнего дракона. Что несет это знамение...
												span.full-view
													| ?Юная Майя и ее брат Дариан живут бок о бок с драконами. Их мать трагически погибла, а отца, кажется, не интересует ничего, кроме этих сверхъестественных существ. Все меняется, когда Майя и Дариан видят легендарного Летнего дракона. Что несет это знамение героям? Проклятие или свет? Майя верит, что явившийся Летний дракон на ее стороне. Но тучи все больше сгущаются над гнездовьем... 
													br
													| Издание с иллюстрациями Тодда Локвуда.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 397 ₽
												button.button.product-card__button.button_product(data-element="1094996" data-status="buy" onclick="events.basket.add(this, [{book_id:'2701199', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1164702" data-book-id="2703021" data-productlist="main_Новинки литературы" data-productprice="330" data-productbrand="" data-productcategory="" data-index="3" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1164702/?watch_fromlist=main_Новинки литературы")
											img(alt="Стамбул Стамбул" title="Стамбул Стамбул" data-original="https://img-gorod.ru/web/270/2703021/jpg/2703021_preview.jpg" src="https://img-gorod.ru/web/270/2703021/jpg/2703021_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1164702/?watch_fromlist=main_Новинки литературы" title="Стамбул Стамбул")
												.product-card__title.js-analytic-product-title
													| Стамбул Стамбул
												.product-card__author
													| Сенмез Б.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Иностранка
												span.publisher
													span.product-card__data-title Год издания
													span 2018
											.product-card__annotation.land-view.full-short
												span.short-view
													| Глубоко под древними улицами Стамбула в одной камере сидят четыре пленника: студент Демиртай, Доктор, парикмахер Камо и дядя Кюхейлан. В ожидании своей участи, томясь от скуки, они рассказывают друг другу забавные и странные истории. Постепенно из этих...
												span.full-view
													| Глубоко под древними улицами Стамбула в одной камере сидят четыре пленника: студент Демиртай, Доктор, парикмахер Камо и дядя Кюхейлан. В ожидании своей участи, томясь от скуки, они рассказывают друг другу забавные и странные истории. Постепенно из этих подземных сказаний рождается картина иной жизни, недоступной заключенным. Однако страдания и надежды людей из тех историй мало чем отличаются от страданий и надежд четырех пленников, силой своего воображения соединивших в одно целое два великих Стамбула: тот, что скрывается в недрах земли, и тот, что лежит на ее поверхности.  
													br
													| Впервые на русском!
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 330 ₽
												button.button.product-card__button.button_product(data-element="1164702" data-status="buy" onclick="events.basket.add(this, [{book_id:'2703021', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1096034" data-book-id="2701667" data-productlist="main_Новинки литературы" data-productprice="411" data-productbrand="" data-productcategory="" data-index="4" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1096034/?watch_fromlist=main_Новинки литературы")
											img(alt="Странная история дочери алхимика" title="Странная история дочери алхимика" data-original="https://img-gorod.ru/web/270/2701667/jpg/2701667_preview.jpg" src="https://img-gorod.ru/web/270/2701667/jpg/2701667_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1096034/?watch_fromlist=main_Новинки литературы" title="Странная история дочери алхимика")
												.product-card__title.js-analytic-product-title
													| Странная история дочери алхимика
												.product-card__author
													| Госс Т.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span АСТ
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Юная леди Мэри Джекилл, оставшаяся круглой сиротой после смерти матери, была готова мужественно влачить полунищенское существование. Однако на встрече с семейным адвокатом Мэри с удивлением узнает, что ее мать ежемесячно перечисляла внушительные суммы в приют...
												span.full-view
													| Юная леди Мэри Джекилл, оставшаяся круглой сиротой после смерти матери, была готова мужественно влачить полунищенское существование. Однако на встрече с семейным адвокатом Мэри с удивлением узнает, что ее мать ежемесячно перечисляла внушительные суммы в приют для бедных девиц. Заинтригованная, Мэри едет туда и встречается с 14-летней Дианой Хайд, утверждающей, что они с Мэри – сестры. Именно так начинается история дамского клуба «Афина», невероятных приключений и расследования преступлений тайного общества алхимиков. А помогать мисс Джекилл в этом нелегком деле будут мистер Шерлок Холмс и доктор Ватсон. Впрочем, Мэри поможет знаменитому детективу распутать серию кровавых убийств в Уайтчепеле и выйти на след Джека-потрошителя.
													| .
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 411 ₽
												button.button.product-card__button.button_product(data-element="1096034" data-status="buy" onclick="events.basket.add(this, [{book_id:'2701667', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1165639" data-book-id="2705420" data-productlist="main_Новинки литературы" data-productprice="411" data-productbrand="" data-productcategory="" data-index="5" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1165639/?watch_fromlist=main_Новинки литературы")
											img(alt="Отступники" title="Отступники" data-original="https://img-gorod.ru/web/270/2705420/jpg/2705420_preview.jpg" src="https://img-gorod.ru/web/270/2705420/jpg/2705420_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1165639/?watch_fromlist=main_Новинки литературы" title="Отступники")
												.product-card__title.js-analytic-product-title
													| Отступники
												.product-card__author
													| Мейер М.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span АСТ
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Люди со сверхспособностями появились на руинах разрушенного общества и установили мир и порядок там, где прежде царил хаос.  Они стали защитниками справедливости, символом надежды и мужества для всех.  Кроме тех, кого они свергли.  Это история новых Ромео и...
												span.full-view
													| Люди со сверхспособностями появились на руинах разрушенного общества и установили мир и порядок там, где прежде царил хаос. 
													br
													| Они стали защитниками справедливости, символом надежды и мужества для всех. 
													br
													| Кроме тех, кого они свергли. 
													br
													| Это история новых Ромео и Джульетты в мире, населенном новыми супергероями. 
													br
													| Каждый из них что-то скрывает. У каждого есть своя тайная цель.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 411 ₽
												button.button.product-card__button.button_product(data-element="1165639" data-status="buy" onclick="events.basket.add(this, [{book_id:'2705420', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1163729" data-book-id="2702941" data-productlist="main_Новинки литературы" data-productprice="700" data-productbrand="" data-productcategory="" data-index="6" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1163729/?watch_fromlist=main_Новинки литературы")
											img(alt="Возвращение домой. Книга I. Архимаг" title="Возвращение домой. Книга I. Архимаг" data-original="https://img-gorod.ru/web/270/2702941/jpg/2702941_preview.jpg" src="https://img-gorod.ru/web/270/2702941/jpg/2702941_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1163729/?watch_fromlist=main_Новинки литературы" title="Возвращение домой. Книга I. Архимаг")
												.product-card__title.js-analytic-product-title
													| Возвращение домой. Книга I. Архимаг
												.product-card__author
													| Сальваторе Р.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Фантастика Книжный Клуб
												span.publisher
													span.product-card__data-title Год издания
													span 2018
											.product-card__annotation.land-view.full-short
												span.short-view
													| Черные тучи, скрывавшие небо над северными землями, рассеялись, а орки побежденного Королевства Многих Стрел бежали в свои пещеры. Дзирт и его друзья задумываются о будущем: о семье, о новых приключениях, о новом доме. Дроу Мензоберранзана основали город в...
												span.full-view
													| Черные тучи, скрывавшие небо над северными землями, рассеялись, а орки побежденного Королевства Многих Стрел бежали в свои пещеры. Дзирт и его друзья задумываются о будущем: о семье, о новых приключениях, о новом доме. Дроу Мензоберранзана основали город в недрах Гаунтлгрима, недавно обнаруженного древнего поселения дворфов, которое Бренор Боевой Молот твердо намерен отвоевать. Но, прежде чем темные эльфы сумеют отразить нападение дворфов, им предстоит сразиться друг с другом, а также с армией демонов, которых они, вопреки здравому смыслу, призвали в собственный город. Громф Бэнр, могущественный Архимаг Мензоберранзана, обманутый Демонической Паучьей Королевой, в отчаянной попытке захватить власть рискует утратить высокое положение, сверхъестественные способности и даже рассудок. В столице темных эльфов царит хаос.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 700 ₽
												button.button.product-card__button.button_product(data-element="1163729" data-status="buy" onclick="events.basket.add(this, [{book_id:'2702941', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1167020" data-book-id="2706923" data-productlist="main_Новинки литературы" data-productprice="495" data-productbrand="" data-productcategory="" data-index="7" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1167020/?watch_fromlist=main_Новинки литературы")
											img(alt="Убить иллюзии. Универсальные правила. 12 шагов к душевному здоровью" title="Убить иллюзии. Универсальные правила. 12 шагов к душевному здоровью" data-original="https://img-gorod.ru/web/270/2706923/jpg/2706923_preview.jpg" src="https://img-gorod.ru/web/270/2706923/jpg/2706923_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1167020/?watch_fromlist=main_Новинки литературы" title="Убить иллюзии. Универсальные правила. 12 шагов к душевному здоровью")
												.product-card__title.js-analytic-product-title
													| Убить иллюзии. Универсальные правила. 12 шагов к душевному здоровью
												.product-card__author
													| Курпатов А.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Капитал
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| «Убить иллюзии» — это бестселлер Андрея Курпатова с конкретными советами о том, как избавиться от заблуждений, которые привиты нам обществом и мешают человеку жить полноценной жизнью. В книге «Красная таблетка» автор рассказал, почему наше сознание не в силах...
												span.full-view
													| «Убить иллюзии» — это бестселлер Андрея Курпатова с конкретными советами о том, как избавиться от заблуждений, которые привиты нам обществом и мешают человеку жить полноценной жизнью. В книге «Красная таблетка» автор рассказал, почему наше сознание не в силах управлять мозгом, а как вырваться из этого замкнутого круга – читайте в психологическом практикуме «Убить иллюзии». Посмотреть правде в глаза и признаться себе в своих заблуждениях – это непростой, но важный и необходимый шаг. У вас есть шанс изменить свою жизнь к лучшему. Изучите те иллюзии, которые буквально вшиты в нас с самого детства: о страданиях, опасностях, счастье, взаимопонимании, любви… Рассмотрите свою жизнь с точки зрения современной науки, и вы увидите: выход есть, а дельные решения у вас под рукой.
													br
													| «Убить иллюзии» – книга, которую уже любят и ценят. 
													br
													| Теперь она стала необходимым и долгожданным дополнением к «Красной таблетке» Андрея Курпатова!
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 495 ₽
												button.button.product-card__button.button_product(data-element="1167020" data-status="buy" onclick="events.basket.add(this, [{book_id:'2706923', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1163597" data-book-id="2704495" data-productlist="main_Новинки литературы" data-productprice="303" data-productbrand="" data-productcategory="" data-index="8" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1163597/?watch_fromlist=main_Новинки литературы")
											img(alt="Полет на единороге" title="Полет на единороге" data-original="https://img-gorod.ru/web/270/2704495/jpg/2704495_preview.jpg" src="https://img-gorod.ru/web/270/2704495/jpg/2704495_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1163597/?watch_fromlist=main_Новинки литературы" title="Полет на единороге")
												.product-card__title.js-analytic-product-title
													| Полет на единороге
												.product-card__author
													| Мессенджер Ш.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Эксмо
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Аликорн – древний символ надежды, но вот её-то у Софи почти не осталось. Потому что аликорн – это не только разумный крылатый единорог с сияющей шерстью, но и невероятно редкое магическое существо, которое неожиданно оказалось ставкой в игре. Одна сторона...
												span.full-view
													| Аликорн – древний символ надежды, но вот её-то у Софи почти не осталось. Потому что аликорн – это не только разумный крылатый единорог с сияющей шерстью, но и невероятно редкое магическое существо, которое неожиданно оказалось ставкой в игре. Одна сторона хочет его убить, вторая – спрятать, но и тем, и другим очень мешает Софи. Ей всего тринадцать, она не готова сражаться со всем миром, но и предавать нового друга не хочет. Надеяться Софи может только на себя. Как же ей поступить? Может быть, улететь?
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 303 ₽
												button.button.product-card__button.button_product(data-element="1163597" data-status="buy" onclick="events.basket.add(this, [{book_id:'2704495', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1096320" data-book-id="2702195" data-productlist="main_Новинки литературы" data-productprice="588" data-productbrand="" data-productcategory="" data-index="9" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1096320/?watch_fromlist=main_Новинки литературы")
											img(alt="Неправильный бизнесмен" title="Неправильный бизнесмен" data-original="https://img-gorod.ru/web/270/2702195/jpg/2702195_preview.jpg" src="https://img-gorod.ru/web/270/2702195/jpg/2702195_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1096320/?watch_fromlist=main_Новинки литературы" title="Неправильный бизнесмен")
												.product-card__title.js-analytic-product-title
													| Неправильный бизнесмен
												.product-card__author
													| Новиков А.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Эксмо
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Аркадий Новиков — успешный ресторатор, открывший более 70 заведений, годовой оборот группы его компаний превышает 200 млн долларов. Новиков — бизнесмен, который сделал себя сам. Он родился в семье воспитательницы детского сада и инженера, детство провел в...
												span.full-view
													| Аркадий Новиков — успешный ресторатор, открывший более 70 заведений, годовой оборот группы его компаний превышает 200 млн долларов. Новиков — бизнесмен, который сделал себя сам. Он родился в семье воспитательницы детского сада и инженера, детство провел в крошечной квартире площадью 28 квадратных метров, отслужил в армии. Как же получилось, что обычный парень, которого когда-то отказались взять на работу в McDonald’s, основал крупнейший в России ресторанный бизнес? Не стесняясь признаться в собственных ошибках, автор рассказывает, где взять стартовый капитал, как вести переговоры с партнерами и конкурентами, как масштабировать дело и выйти на зарубежный рынок. А главное — как при этом получать удовольствие от жизни и вести бизнес с человеческим лицом.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 588 ₽
												button.button.product-card__button.button_product(data-element="1096320" data-status="buy" onclick="events.basket.add(this, [{book_id:'2702195', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1164618" data-book-id="2704364" data-productlist="main_Новинки литературы" data-productprice="4843" data-productbrand="" data-productcategory="" data-index="10" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1164618/?watch_fromlist=main_Новинки литературы")
											img(alt="Гарри Поттер. Трехмерная карта Хогвартса и Хогсмида" title="Гарри Поттер. Трехмерная карта Хогвартса и Хогсмида" data-original="https://img-gorod.ru/web/270/2704364/jpg/2704364_preview.jpg" src="https://img-gorod.ru/web/270/2704364/jpg/2704364_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1164618/?watch_fromlist=main_Новинки литературы" title="Гарри Поттер. Трехмерная карта Хогвартса и Хогсмида")
												.product-card__title.js-analytic-product-title
													| Гарри Поттер. Трехмерная карта Хогвартса и Хогсмида
												.product-card__author
													| Рейнарт М.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Эксмо
												span.publisher
													span.product-card__data-title Год издания
													span 2018
											.product-card__annotation.land-view.full-short
												span.short-view
													| Трехмерная карта, в которую вошли Хогвартс и его окрестности, с вклейками, карточками и вкладками приоткроет для вас двери в волшебный мир! С помощью этой карты вы сможете открыть портал в сказку прямо в своей комнате! На ваших глазах поднимутся башни...
												span.full-view
													| Трехмерная карта, в которую вошли Хогвартс и его окрестности, с вклейками, карточками и вкладками приоткроет для вас двери в волшебный мир! С помощью этой карты вы сможете открыть портал в сказку прямо в своей комнате! На ваших глазах поднимутся башни Хогвартса и Хогсмида.
													br
													| В книге содержатся 4 локации: замок Хогвартс и его таинственные кабинеты, запретный лес, квиддичное поле и деревня Хогсмид. Вы можете рассматривать их по отдельности или открыть всю карту и наслаждаться любимым миром целиком!
													br
													| Вас ждут карта мародеров, полет на квиддичным полем, превращение Сириуса в пса и обратно и многое, многое другое.
													br
													| Сделайте себе и своим близким невероятный подарок! Окунитесь в любимый мир!
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 4843 ₽
												button.button.product-card__button.button_product(data-element="1164618" data-status="buy" onclick="events.basket.add(this, [{book_id:'2704364', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1164854" data-book-id="2704608" data-productlist="main_Новинки литературы" data-productprice="411" data-productbrand="" data-productcategory="" data-index="11" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1164854/?watch_fromlist=main_Новинки литературы")
											img(alt="Темные отражения. В лучах заката" title="Темные отражения. В лучах заката" data-original="https://img-gorod.ru/web/270/2704608/jpg/2704608_preview.jpg" src="https://img-gorod.ru/web/270/2704608/jpg/2704608_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1164854/?watch_fromlist=main_Новинки литературы" title="Темные отражения. В лучах заката")
												.product-card__title.js-analytic-product-title
													| Темные отражения. В лучах заката
												.product-card__author
													| Бракен А.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span АСТ
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Неизвестный вирус поразил детей и подростков. В живых остался только каждый десятый. Но кто они теперь — изгои, запертые в лагерях? Все еще люди?
													| .Или мутанты, наделенные сверхсопособностями?
													| .Руби не мечтала о суперспособностях, но теперь они у нее есть. И...
												span.full-view
													| Неизвестный вирус поразил детей и подростков. В живых остался только каждый десятый. Но кто они теперь — изгои, запертые в лагерях? Все еще люди?
													| .Или мутанты, наделенные сверхсопособностями?
													| .Руби не мечтала о суперспособностях, но теперь они у нее есть. И каждый день с их помощью она спасает других и выживает сама.
													| .Рискуя жизнью, Руби отправляется на поиски информации о страшной эпидемии, которая сломала жизнь миллионам людей и расколола страну на два лагеря.
													| .Пережив в Нью-Йорке атаку правительственных войск, Руби и группа сопротивленцев продолжают борьбу.
													| .По всей стране тысячи детей с необычными способностями томятся в заточении. Они должны обрести свободу.
													| .Руби сделает всё, чтобы помочь тем, кого любит.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 411 ₽
												button.button.product-card__button.button_product(data-element="1164854" data-status="buy" onclick="events.basket.add(this, [{book_id:'2704608', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1089716" data-book-id="2695592" data-productlist="main_Новинки литературы" data-productprice="351" data-productbrand="" data-productcategory="" data-index="12" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1089716/?watch_fromlist=main_Новинки литературы")
											img(alt="Грустные факты о детенышах" title="Грустные факты о детенышах" data-original="https://img-gorod.ru/web/269/2695592/jpg/2695592_preview.jpg" src="https://img-gorod.ru/web/269/2695592/jpg/2695592_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1089716/?watch_fromlist=main_Новинки литературы" title="Грустные факты о детенышах")
												.product-card__title.js-analytic-product-title
													| Грустные факты о детенышах
												.product-card__author
													| Баркер Б.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Livebook
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Американская художница-иллюстратор и автор бестселлера «Грустные факты о животных» Брук Баркер написала и нарисовала новую познавательную и смешную книгу о непростой жизни животных, главными героями которой стали их малыши.  Жизнь ребенка – совсем не сахар...
												span.full-view
													| Американская художница-иллюстратор и автор бестселлера «Грустные факты о животных» Брук Баркер написала и нарисовала новую познавательную и смешную книгу о непростой жизни животных, главными героями которой стали их малыши.
													br
													br
													| Жизнь ребенка – совсем не сахар. Особенно, детёныша, рожденного в джунглях, лесу, пустыне или океане нашего огромного, беспощадного мира.
													br
													| Знаете ли вы, что птенцы, которые растут без отцов, никогда не смогут петь правильно, новорожденные комодские вараны прячутся от родителей, рискуя быть съеденными, а пятьдесят маленьких тасманийских дьяволов вынуждены драться в материнской сумке, пока только горстка из них не выживет. Поверьте, им есть на что пожаловаться, и это – не каша с комочками.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 351 ₽
												button.button.product-card__button.button_product(data-element="1089716" data-status="buy" onclick="events.basket.add(this, [{book_id:'2695592', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1160075" data-book-id="2703026" data-productlist="main_Новинки литературы" data-productprice="934" data-productbrand="" data-productcategory="" data-index="13" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1160075/?watch_fromlist=main_Новинки литературы")
											img(alt="Архив Буресвета. Книга 3. Давший клятву. В 2 томах (комплект из 2 книг)" title="Архив Буресвета. Книга 3. Давший клятву. В 2 томах (комплект из 2 книг)" data-original="https://img-gorod.ru/web/270/2703026/jpg/2703026_preview.jpg" src="https://img-gorod.ru/web/270/2703026/jpg/2703026_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1160075/?watch_fromlist=main_Новинки литературы" title="Архив Буресвета. Книга 3. Давший клятву. В 2 томах (комплект из 2 книг)")
												.product-card__title.js-analytic-product-title
													| Архив Буресвета. Книга 3. Давший клятву. В 2 томах (комплект из 2 книг)
												.product-card__author
													| Сандерсон Б.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Азбука
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Предсказанная Буря бурь обрушилась на мир, вызвав новое Опустошение и вынудив человечество еще раз столкнуться с древним врагом — Приносящими пустоту; их жажду мести подпитывает злобное божество. Теперь будущее зависит только от Далинара Холина, чьи измученные...
												span.full-view
													| Предсказанная Буря бурь обрушилась на мир, вызвав новое Опустошение и вынудив человечество еще раз столкнуться с древним врагом — Приносящими пустоту; их жажду мести подпитывает злобное божество. Теперь будущее зависит только от Далинара Холина, чьи измученные сражениями войска нашли приют в древнем городе Уритиру. Но в стенах оплота Сияющих рыцарей хранятся мрачные секреты, а кровавые тайны прошлого самого Далинара мешают остальным властителям поверить в благородство его помыслов. Час нового испытания близок, однако прежде героям предстоит совершить немало странствий по просторам Рошара и выстоять в битве с темной стороной собственной души.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 934 ₽
												button.button.product-card__button.button_product(data-element="1160075" data-status="buy" onclick="events.basket.add(this, [{book_id:'2703026', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1166281" data-book-id="2706115" data-productlist="main_Новинки литературы" data-productprice="268" data-productbrand="" data-productcategory="" data-index="14" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1166281/?watch_fromlist=main_Новинки литературы")
											img(alt="Ларец, полный тьмы" title="Ларец, полный тьмы" data-original="https://img-gorod.ru/web/270/2706115/jpg/2706115_preview.jpg" src="https://img-gorod.ru/web/270/2706115/jpg/2706115_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1166281/?watch_fromlist=main_Новинки литературы" title="Ларец, полный тьмы")
												.product-card__title.js-analytic-product-title
													| Ларец, полный тьмы
												.product-card__author
													| Гаглоев Е.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Росмэн
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| У необычных учеников «Пандемониума» непростые родители. Они тоже обладают удивительными способностями, в их прошлом скрыты страшные тайны, о которых лучше не знать. Кошмарное происшествие, случившееся в Клыково семнадцать лет назад, до сих пор омрачает жизнь...
												span.full-view
													| У необычных учеников «Пандемониума» непростые родители. Они тоже обладают удивительными способностями, в их прошлом скрыты страшные тайны, о которых лучше не знать. Кошмарное происшествие, случившееся в Клыково семнадцать лет назад, до сих пор омрачает жизнь Первородных. Один за другим гибнут члены Королевского Зодиака, и ни могущественные маги, ни бесстрашные полицейские, ни вездесущие журналисты не могут остановить убийцу. Любой житель Клыкова может стать жертвой темной силы, наступающей на город, – или оказаться ведьмой, призраком, даже Огненным волком. Тимофея особенно интересуют волки – ведь, кажется, он и сам один из них. Так, может быть, стоит попытаться выйти с Огненными волками на связь?
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 268 ₽
												button.button.product-card__button.button_product(data-element="1166281" data-status="buy" onclick="events.basket.add(this, [{book_id:'2706115', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1167113" data-book-id="2707061" data-productlist="main_Новинки литературы" data-productprice="467" data-productbrand="" data-productcategory="" data-index="15" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1167113/?watch_fromlist=main_Новинки литературы")
											img(alt="One-Punch Man Книга 4" title="One-Punch Man Книга 4" data-original="https://img-gorod.ru/web/270/2707061/jpg/2707061_preview.jpg" src="https://img-gorod.ru/web/270/2707061/jpg/2707061_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1167113/?watch_fromlist=main_Новинки литературы" title="One-Punch Man Книга 4")
												.product-card__title.js-analytic-product-title
													| One-Punch Man Книга 4
												.product-card__author
													| One
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Азбука
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Пришельцы атаковали Землю! Герои класса S решили действовать сообща, а Сайтама на инопланетном корабле сошелся в смертельной схватке с их предводителем Боросом – Великим Космическим Помазанником. Кто же из них двоих окажется сильнее? Наши герои едва успели...
												span.full-view
													| Пришельцы атаковали Землю! Герои класса S решили действовать сообща, а Сайтама на инопланетном корабле сошелся в смертельной схватке с их предводителем Боросом – Великим Космическим Помазанником. Кто же из них двоих окажется сильнее? Наши герои едва успели остыть после битвы, как помощь понадобилась самому сильному мужчине на Земле – Королю! И, несмотря на то, что один только звук Движка Короля способен заставить навсегда замолкнуть любое чудовище, без Сайтамы и Дженоса снова не обойтись.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 467 ₽
												button.button.product-card__button.button_product(data-element="1167113" data-status="buy" onclick="events.basket.add(this, [{book_id:'2707061', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1095027" data-book-id="2701235" data-productlist="main_Новинки литературы" data-productprice="350" data-productbrand="" data-productcategory="" data-index="16" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1095027/?watch_fromlist=main_Новинки литературы")
											img(alt="Духи рваной земли" title="Духи рваной земли" data-original="https://img-gorod.ru/web/270/2701235/jpg/2701235_preview.jpg" src="https://img-gorod.ru/web/270/2701235/jpg/2701235_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1095027/?watch_fromlist=main_Новинки литературы" title="Духи рваной земли")
												.product-card__title.js-analytic-product-title
													| Духи рваной земли
												.product-card__author
													| Залер С.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Эксмо
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Нью-Мексико, 1902 год. Представительный костюм, хорошие манеры и знание испанского - только это и требуется от человека, которого нанимает в компаньоны троица южан угрожающего вида. Какая малость - к тому же ненадолго и за весьма приличную плату! Так...
												span.full-view
													| Нью-Мексико, 1902 год. Представительный костюм, хорошие манеры и знание испанского - только это и требуется от человека, которого нанимает в компаньоны троица южан угрожающего вида. Какая малость - к тому же ненадолго и за весьма приличную плату! Так рассуждает счастливый обладатель всего перечисленного янки Натаниэль Стромлер, остро нуждающийся в деньгах после банкротства. Откуда знать изысканному джентльмену, поклявшемуся ни за что и никогда не иметь дела с оружием, что мужчины семейства Плагфордов везут с собой опытных бойцов и целый арсенал. Они собираются перевернуть Мексику вверх дном в поисках своих похищенных женщин...
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 350 ₽
												button.button.product-card__button.button_product(data-element="1095027" data-status="buy" onclick="events.basket.add(this, [{book_id:'2701235', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1164852" data-book-id="2704884" data-productlist="main_Новинки литературы" data-productprice="356" data-productbrand="" data-productcategory="" data-index="17" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1164852/?watch_fromlist=main_Новинки литературы")
											img(alt="Черная Вдова: Возмездие" title="Черная Вдова: Возмездие" data-original="https://img-gorod.ru/web/270/2704884/jpg/2704884_preview.jpg" src="https://img-gorod.ru/web/270/2704884/jpg/2704884_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1164852/?watch_fromlist=main_Новинки литературы" title="Черная Вдова: Возмездие")
												.product-card__title.js-analytic-product-title
													| Черная Вдова: Возмездие
												.product-card__author
													| Штоль М.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span АСТ
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Эмоции опасны, вот почему выпускников знаменитой московской школы шпионов "Красный отдел" учат держать своих врагов рядом, а близких - в отдалении. Черная и Красная Вдовы, Наташа Романова и Ава Орлова, однажды забыли этот урок. Больше такого не повторится.
													| .Но...
												span.full-view
													| Эмоции опасны, вот почему выпускников знаменитой московской школы шпионов "Красный отдел" учат держать своих врагов рядом, а близких - в отдалении. Черная и Красная Вдовы, Наташа Романова и Ава Орлова, однажды забыли этот урок. Больше такого не повторится.
													| .Но у Вдов есть кое-что общее - московское прошлое и неумолимая жажда мести. Иван Сомодоров мертв, но его террористическая сеть все еще действует. Пока Вдовы ищут склад контрабандистов в Южной Америке (связь с их прежней Немезидой), "Красный отдел" не только пытается убить их обеих, но и взламывает защищенную сеть ЩИТа. Ава и Наташа оказываются в центре опасной игры - мирового заговора, что приведет их на край света и обратно в Нью-Йорк, где их друзья, Данте и Сана, станут мишенями "Красного отдела".
													| .Вновь все не так, как кажется: никому нельзя доверять, всем угрожает опасность. Разве что Вдовы остановят заговор: справятся с украденными ядерными боеголовками, химическим оружием и предательством старых врагов и друзей.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 356 ₽
												button.button.product-card__button.button_product(data-element="1164852" data-status="buy" onclick="events.basket.add(this, [{book_id:'2704884', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1096185" data-book-id="2702471" data-productlist="main_Новинки литературы" data-productprice="317" data-productbrand="" data-productcategory="" data-index="18" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1096185/?watch_fromlist=main_Новинки литературы")
											img(alt="ЮтубинаСила. YouTube для бизнеса. Как продавать товары и услуги и продвигать бренды с помощью видео" title="ЮтубинаСила. YouTube для бизнеса. Как продавать товары и услуги и продвигать бренды с помощью видео" data-original="https://img-gorod.ru/web/270/2702471/jpg/2702471_preview.jpg" src="https://img-gorod.ru/web/270/2702471/jpg/2702471_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1096185/?watch_fromlist=main_Новинки литературы" title="ЮтубинаСила. YouTube для бизнеса. Как продавать товары и услуги и продвигать бренды с помощью видео")
												.product-card__title.js-analytic-product-title
													| ЮтубинаСила. YouTube для бизнеса. Как продавать товары и услуги и продвигать бренды с помощью видео
												.product-card__author
													| Шулепов А.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span АСТ
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| "Зарабатывать, не выходя из дома — мечта миллионов! И она вполне исполнима! Испробовали популярные сервисы Яндекс.Директ и разные виды рекламы, но безрезультатно? Тогда мы идем к вам, потому что продвижение через YouTube — интересно и эффективно! Это книга от...
												span.full-view
													| "Зарабатывать, не выходя из дома — мечта миллионов! И она вполне исполнима! Испробовали популярные сервисы Яндекс.Директ и разные виды рекламы, но безрезультатно? Тогда мы идем к вам, потому что продвижение через YouTube — интересно и эффективно! Это книга от создателя каналов, которые уже принесли миллионы рублей и миллионы лайков. Алексей Шулепов — автор и продюсер YouTube-канала для мужчин Be Bigger. А это 175 тысяч подписчиков и 25 миллионов просмотров!
													br
													| Используя рекомендации из книги, вы сможете создать продающий канал, который приведет клиентов и принесет прибыль в любой сфере: дизайн, строительство, организация мероприятий, психология и т. д.
													br
													| В книге нет теории и пространных рассуждений, только точная информация, которая шаг за шагом ведет к нужному результату — продажи, новые клиенты или продвижение личного бренда.
													br
													| Вы получите:
													br
													| — правильно созданный и оформленный канал YouTube; 
													br
													| — советы, которые помогут попасть в топ поиска; 
													br
													| — готовые решения для самых распространенных...
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 317 ₽
												button.button.product-card__button.button_product(data-element="1096185" data-status="buy" onclick="events.basket.add(this, [{book_id:'2702471', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1166237" data-book-id="2706322" data-productlist="main_Новинки литературы" data-productprice="461" data-productbrand="" data-productcategory="" data-index="19" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1166237/?watch_fromlist=main_Новинки литературы")
											img(alt="Любовь и смерть в русской литературе. В комиксах!" title="Любовь и смерть в русской литературе. В комиксах!" data-original="https://img-gorod.ru/web/270/2706322/jpg/2706322_preview.jpg" src="https://img-gorod.ru/web/270/2706322/jpg/2706322_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1166237/?watch_fromlist=main_Новинки литературы" title="Любовь и смерть в русской литературе. В комиксах!")
												.product-card__title.js-analytic-product-title
													| Любовь и смерть в русской литературе. В комиксах!
												.product-card__author
													| Быков Д.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Эксмо
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Любовь и смерть в русской литературе в КОМИКСАХ Эта книга – первая в серии, посвящённой Русской литературе двадцатого века в комиксах. Каждая глава – страница истории глазами писателей и поэтов, ставших свидетелями главных событий эпохи, в которой им довелось...
												span.full-view
													| Любовь и смерть в русской литературе в КОМИКСАХ Эта книга – первая в серии, посвящённой Русской литературе двадцатого века в комиксах. Каждая глава – страница истории глазами писателей и поэтов, ставших свидетелями главных событий эпохи, в которой им довелось жить и творить. В неё вошли лекции о произведениях таких выдающихся личностей как Брюсов, Чехов, Куприн, Горький, Блок, Ахматова, Белый, Маяковский, Бунин, Пастернак, Замятин, Гумилёв, Бабель, Есенин. Дмитрий Быков будто возвращает нас в тот год, в котором была создана та или иная книга. Книга создана по мотивам популярной программы "Сто лекций с Дмитрием Быковым". "Это не просто книга, а результат совместной работы Дмитрия Быкова и телеканала Дождь. Когда Дмитрий рассказал нам идею "Ста лекций" это звучало настолько круто, что мы просто не могли её не поддержать. Больше двух лет ровно один раз в неделю Быков читал нашим зрителям лекции, постепенно двигаясь из прошлого в настоящее. Каждая глава -- не просто разговор о книге, это...
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 461 ₽
												button.button.product-card__button.button_product(data-element="1166237" data-status="buy" onclick="events.basket.add(this, [{book_id:'2706322', cnt: 1}])") Купить
										// /product-card info
									// /product-card
									// product-card
									.product-card.js_product(data-product="1167189" data-book-id="2707022" data-productlist="main_Новинки литературы" data-productprice="467" data-productbrand="" data-productcategory="" data-index="20" data-not-avail="" data-slider-item="")
										a.product-card__img.js-analytic-productlink(href="/catalog/book/1167189/?watch_fromlist=main_Новинки литературы")
											img(alt="Волшебники страны Однажды" title="Волшебники страны Однажды" data-original="https://img-gorod.ru/web/270/2707022/jpg/2707022_preview.jpg" src="https://img-gorod.ru/web/270/2707022/jpg/2707022_preview.jpg" style="display: block;")
										// product-card info
										.product-card__info
											a.product-card__link.js-watch-productlink(href="/catalog/book/1167189/?watch_fromlist=main_Новинки литературы" title="Волшебники страны Однажды")
												.product-card__title.js-analytic-product-title
													| Волшебники страны Однажды
												.product-card__author
													| Коуэлл К.
											.product-card__data.land-view
												span.publisher
													span.product-card__data-title Издательство
													span Азбука
												span.publisher
													span.product-card__data-title Год издания
													span 2019
											.product-card__annotation.land-view.full-short
												span.short-view
													| Крессида Коуэлл, прославившаяся своим знаменитым руководством по приручению драконов и познакомившая нас с парочкой неразлучных друзей – юным викингом Иккингом и его драконом Беззубиком, – решила порадовать читателей новыми историями! Встречайте первую книгу...
												span.full-view
													| Крессида Коуэлл, прославившаяся своим знаменитым руководством по приручению драконов и познакомившая нас с парочкой неразлучных друзей – юным викингом Иккингом и его драконом Беззубиком, – решила порадовать читателей новыми историями! Встречайте первую книгу ее нового цикла о волшебниках и воителях! 
													br
													| Впервые на русском языке! 
													br
													| Его зовут Зар, он из племени волшебников, но не владеет никакой магией. И готов на все, чтобы заполучить ее! Даже открыть охоту на ведьму, что очень опасно, ну, если верить легендам. 
													br
													| Ее зовут Виш, она из племени воителей и ни за что на свете не признается, что у нее есть волшебный артефакт и необычные способности.  
													br
													| Племена волшебников и воителей издавна враждовали друг с другом, но встреча Зара и Виш заставила по-новому взглянуть на эту традицию. Благодаря их совместному путешествию, пережитым вместе приключениям, смешным и страшным проделкам, страхам  и надеждам в мире изменится очень многое.
												a.show-more
													span.full-view Скрыть
													span.short-view Показать весь текст
											.product-card__footer
												.product-card__price
													span.product-price__value 467 ₽
												button.button.product-card__button.button_product(data-element="1167189" data-status="buy" onclick="events.basket.add(this, [{book_id:'2707022', cnt: 1}])") Купить
										// /product-card info
									// /product-card

		script(src="/ii/js/project_name/script.js" type="text/javascript")
